@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.glassmorphism {
    backdrop-filter: blur(1.5625rem) saturate(100%);
    -webkit-backdrop-filter: blur(1.5625rem) saturate(100%);
    background-color: rgba(255, 255, 255, 0);
    border: 0.0625rem solid rgba(255, 255, 255, 0.125);
    box-shadow: inset 0rem 0rem 2.5rem rgba(147, 122, 239, .2);
}

.main {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-area {
    width: 56.25rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;

    input {
        width: 85%;
        height: 6.25rem;
        padding: 0 3.75rem;
        border-radius: 3.125rem 0 0 0;
        outline: none;
        font-size: 1.875rem;
        font-weight: 300;
        color: #fff;
    }

    button {
        width: 11%;
        height: 6.25rem;
        border-radius: 0 3.125rem 0 0;
        background-image: url("../images/search.svg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}

.dados-area {
    width: 56.25rem;
    max-width: 90%;
    height: auto;
    padding: 3.75rem;
    border-radius: 0 0 3.125rem 3.125rem;
    transition: all 1s ease-in;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    font-weight: 300;
    color: #fff;
    display: none;
    opacity: 0;

    .open-on-maps {
        margin-top: 1.25rem;
        padding: 0.9375rem 3.75rem;
        border-radius: 3.125rem;
        font-size: 1.25rem;
        color: #fff;
        cursor: pointer;
    }
}

.fade-in {
    display: block;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}